.Weather {
  background-color: bisque;
  background-image: url("https://media.npr.org/assets/img/2018/08/13/gettyimages-736054223_wide-2e29b3ffc4a896a2bea091e0aada1f250c9f9aec.jpg?s=1400");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  max-width: 500px;
  margin: 0 auto;
}
li {
  list-style: none;
}
img {
  max-height: 40px;
  max-width: 40px;
}
